#root {
  min-height: 100vh;
  display: flex;
  justify-content: center;
}

/* Card */
.card {
  flex-grow: 1;
  background-color: var(--white);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}