:root {
  --white: #FFFFFF;
  --black: #000000;

  --navy-950: #303B59;
  --navy-200: #CAC9FF;
  --navy-50: #ECF2FF;

  --blue-800: #1125D6;
  --blue-50: #F3F4FD;

  --yellow-400: #FFB21E;
  --yellow-50: #FFFBF4;

  --red-400: #FF5555;
  --red-50: #FFF6F6;

  --green-500: #00BB8F;
  --green-50: #F2FCF9;

  --gradient-1: linear-gradient(#4D21C9 0%, rgba(37, 33, 201, 0) 100%);
  --gradient-2: linear-gradient(#7755FF 0%, #2F2CE9 100%);

  --spacing-100: 8px;
  --spacing-200: 16px;
  --spacing-300: 24px;
  --spacing-400: 32px;
  --spacing-500: 40px;
  --spacing-700: 56px;
  --spacing-1000: 80px;

  font-family: "Hanken Grotesk", Helvetica, Arial, sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 130%;

  background-color: var(--blue-50);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}